.annotation-tabs {
    -fx-min-width:  36em;
}

.annotation-tab {
    -fx-padding:    .5em;
}

.name-column {
    -fx-min-width:  0;
    -fx-pref-width: 20em;
}

.score-column {
    -fx-min-width:  5em;
    -fx-pref-width: 5em;
}

.url-column {
    -fx-min-width: 3em;
    -fx-pref-width: 3em;
}

.table-row-cell {
    -fx-alignment:  center;
}

.table-row-cell:filled {
    -fx-cursor: hand;
}

.color-column {
    -fx-pref-width: 2.5em;
}

.color-cell {
    -fx-alignment:  center;
}

.color-cell .marker {
    -fx-min-width:      1.25em;
    -fx-max-width:      1.25em;
    -fx-min-height:     1.25em;
    -fx-max-height:     1.25em;

    -fx-border-width:       2px;
    -fx-border-color:       -base-intensity-low;
    -fx-border-radius:      10em;    /* Very high value to guarantee circle. */

    -fx-background-insets:  1px;
    -fx-background-radius:  6px;
}